Binaries
Build
DerivedDataCache
Intermediate
Saved

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.blend[1-9]
Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
Content/MS_CityStreV3
Content/MS_DeadSTumps
.vs/S05_TestingGrounds/v15/ipch/
.vs/


